/* Font - Montserrat, M Plus 1 p, Nanum Gothic */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Gothic&display=swap');

/* Font - Sukhumvit */
@font-face {
	font-family: "Sukhumvit";
	src: local("Sukhumvit"), url("./fonts/Sukhumvit/SukhumvitSet-SemiBold.ttf") format("truetype");
	font-weight: normal
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	background: #f1f5f9;

	font-family: "Montserrat", "Sukhumvit", "M Plus 1p", "Nanum Gothic", system-ui;
	line-height: 1.5;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

.wall-background {
	background: rgba(255, 255, 255, 0.5) url("/assets/previews/background.jpg");
	background-position: center;
}